# 할당과 복사

In [1]:
my_list1 = [1, 2, 3]

In [2]:
my_list2 = my_list1 #my_list1이 가지고 있는 리스트를 똑같이 참조

In [3]:
print(my_list1)
print(my_list2)

[1, 2, 3]
[1, 2, 3]

In [4]:
my_list2.append(4)
print(my_list1)
print(my_list2)

[1, 2, 3, 4]
[1, 2, 3, 4]

## 복사
* copy()
*

In [5]:
my_list_original = [10, 20, 30]

In [7]:
# copy 함수로 복사하기
my_list_copy = my_list_original.copy()
my_list_copy.append(4)

print(my_list_original)
print(my_list_copy)

[10, 20, 30]
[10, 20, 30, 4]

In [8]:
# slice 기법으로 복사하기
my_list_slice = my_list_original[:] # 슬라이스로 잘라낼 때 원본을 복사해서 잘라내는 거
my_list_slice.append(40)

print(my_list_original)
print(my_list_slice)

[10, 20, 30]
[10, 20, 30, 40]

# 딕셔너리
딕셔너리 다루는 방법과 pandas 사용법과 유사

In [9]:
my_dict = {
    "name": "소민호",
    "age": 33
}

print(my_dict)

{'name': '소민호', 'age': 33}

In [11]:
print(my_dict['name'])

소민호

In [13]:
print(my_dict['age'])

33

In [14]:
my_dict['email'] = 'mhso.dev@gmail.com'
print(my_dict)

{'name': '소민호', 'age': 33, 'email': 'mhso.dev@gmail.com'}

In [15]:
my_dict['age'] = 34
print(my_dict)

{'name': '소민호', 'age': 34, 'email': 'mhso.dev@gmail.com'}

In [17]:
# 딕셔너리의 결합
dict_a = {
    'a': 1,
    'b': 2
}
dict_b = {
    'c': 3,
    'd': 4
}

dict_a.update(dict_b)
print(dict_a)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [18]:
dict_a = {
    'a': 1,
    'b': 2
}
dict_b = {
    'b': 3,
    'd': 4
}

dict_a.update(dict_b)
print(dict_a)

{'a': 1, 'b': 3, 'd': 4}

In [19]:
my_dict = {
    'a': 10,
    'b': 20
}

In [20]:
'a' in my_dict # a라는 키 값이 my_dict에 있니?

True

In [21]:
'c' in my_dict

False

In [22]:
print(my_dict['a'])
print(my_dict['c'])

10

KeyError: 'c'

In [23]:
my_dict.keys()

dict_keys(['a', 'b'])

In [24]:
my_dict.values()

dict_values([10, 20])

In [25]:
my_dict.items()

dict_items([('a', 10), ('b', 20)])

In [26]:
# 딕셔너리 삭제
del my_dict['a']
my_dict

{'b': 20}

In [28]:
# 딕셔너리 전체 삭제
my_dict.clear()
my_dict

{}

# Set(집합)
* 중복 불가(나는 유니크 하니까
* 데이터 저장 순서가 없음

In [30]:
set1 = {1,2,3,3,4,7,4,1, 23,3,6,1,2,3,5,}
print(set1)

{1, 2, 3, 4, 5, 6, 7, 23}

In [31]:
my_list = [1,2,3,6,8,9,6,5,4,3,2,4,5,7,8,3,1]
set2 = set(my_list)
print(set2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [32]:
my_str = 'letter'
set3 = set(my_str)
print(set3)

{'e', 'r', 'l', 't'}

In [33]:
list(set3)

['e', 'r', 'l', 't']

데이터 분석을 하기 위한 자료구조
* 통계적, 수학적 분석 (보통 pandas)
* 머신러닝, 딥러닝 분석 (tensor 개념)

In [36]:
list_2dim = [[10, 20, 30],
            [40, 50, 60]]
print(list_2dim)

[[10, 20, 30], [40, 50, 60]]

In [37]:
list_2dim[1]

[40, 50, 60]

In [38]:
list_2dim[1][1]

50

# 판다스~ 사용하기

데이터프레임은 시리즈의 집합, 시리즈는 열을 의미, 데이터프레임은 쉽게말하면 데이터가 적혀져 있는 표 같은 거

In [43]:
import pandas as pd
import numpy as np
import scipy as sp

In [40]:
s = pd.Series([1,2,3, np.nan, 6, 7])
s

0    1.0
1    2.0
2    3.0
3    NaN
4    6.0
5    7.0
dtype: float64

In [44]:
sp.mean(s)

<ipython-input-44-f62a3d9f0103>:1: DeprecationWarning: scipy.mean is deprecated and will be removed in SciPy 2.0.0, use numpy.mean instead
  sp.mean(s)

3.8

In [46]:
dates = pd.date_range('20200828', periods = 10)
dates

DatetimeIndex(['2020-08-28', '2020-08-29', '2020-08-30', '2020-08-31',
               '2020-09-01', '2020-09-02', '2020-09-03', '2020-09-04',
               '2020-09-05', '2020-09-06'],
              dtype='datetime64[ns]', freq='D')

In [48]:
df = pd.DataFrame(np.random.rand(5, 4),
                 index = [1,2,3,4,5],
                 columns = ['A', 'B', 'C', 'D'])
df

          A         B         C         D
1  0.950841  0.001147  0.525440  0.288228
2  0.842985  0.602767  0.384567  0.858506
3  0.534927  0.580238  0.510908  0.841317
4  0.377105  0.280726  0.829712  0.595570
5  0.147555  0.713042  0.620871  0.763363

In [49]:
df['A']

1    0.950841
2    0.842985
3    0.534927
4    0.377105
5    0.147555
Name: A, dtype: float64

In [50]:
df[['A', 'C']]

          A         C
1  0.950841  0.525440
2  0.842985  0.384567
3  0.534927  0.510908
4  0.377105  0.829712
5  0.147555  0.620871

In [51]:
column_names = ['A', 'D']
df[column_names]

          A         D
1  0.950841  0.288228
2  0.842985  0.858506
3  0.534927  0.841317
4  0.377105  0.595570
5  0.147555  0.763363

In [52]:
df.loc[3]

A    0.534927
B    0.580238
C    0.510908
D    0.841317
Name: 3, dtype: float64

In [53]:
df.loc[:, ['A', 'C']]

          A         C
1  0.950841  0.525440
2  0.842985  0.384567
3  0.534927  0.510908
4  0.377105  0.829712
5  0.147555  0.620871

In [54]:
df.loc[1:3, ['B', 'D']]

          B         D
1  0.001147  0.288228
2  0.602767  0.858506
3  0.580238  0.841317

In [55]:
df['A']>0.5

1     True
2     True
3     True
4    False
5    False
Name: A, dtype: bool

In [56]:
df[df['A']>0.5]

          A         B         C         D
1  0.950841  0.001147  0.525440  0.288228
2  0.842985  0.602767  0.384567  0.858506
3  0.534927  0.580238  0.510908  0.841317

In [57]:
df[df>0.3]

          A         B         C         D
1  0.950841       NaN  0.525440       NaN
2  0.842985  0.602767  0.384567  0.858506
3  0.534927  0.580238  0.510908  0.841317
4  0.377105       NaN  0.829712  0.595570
5       NaN  0.713042  0.620871  0.763363

In [59]:
# B컬럼의 값이 0.3보다 큰 상태에서 A, D만 뽑아주세요.
df.loc[df['B']>0.3, ['A', 'D']]

          A         D
2  0.842985  0.858506
3  0.534927  0.841317
5  0.147555  0.763363